mkdocs-material==9.6.19
mkdocs-glightbox==0.4.0
mkdocs-open-in-new-tab==1.0.8
mkdocs-callouts==1.16.0
mkdocs-git-revision-date-localized-plugin==1.4.7
markdown-captions==2.1.2
mkdocs-enumerate-headings-plugin==0.6.2
mkdocs-section-index==0.3.10
mkdocs-git-committers-plugin-2==2.5.0
mdx_truly_sane_lists==1.3
